body{
	margin: 0;
	padding: 0;
	font-family:  monospace;
}

li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

label{
	display: block;
}


menu{
	width: 50%;
	padding: 0 25%;
}

menu li{
	display: inline-block;
	margin-right: 25px;
}

.content{
	width: 50%;
	margin: 50px auto;
}

#editor{
	height: 300px;
	border: solid 1px silver;
}