doctype
html
	head
		include head
	body
		include header
		
		#content.content
			form(action="#{url}/remove", method="post")
				button remove
			h1 !{title}
			p !{body}
			i !{tags}
			
		include js